/*     
    @color3:#333;
    @color6:#666;
    @color9:#999;

    
    @size14:14px;
    @size16:16px;
    @size18:18px;


    @backblue:#00A1E9;
    @backorange:#FF5531;
    
     */
     .font24{
         font-size: 24px;
     }